[package]
name = "tools"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
hex.workspace = true
rand.workspace = true
serde_json.workspace = true
clap.workspace = true

protobuf_utils.workspace = true
crypto = { path = "../libs/crypto" }
roles = { path = "../libs/roles" }
schema = { path = "../libs/schema" }

consensus = { path = "../actors/consensus" }
executor = { path = "../actors/executor" }
