CODEOWNERS @brunoffranca

/node/actors/consensus/ @brunoffranca
/node/actors/executor/ @brunoffranca @pompon0
/node/actors/network/ @pompon0
/node/actors/sync_blocks/ @slowli

/node/libs/concurrency/ @pompon0
/node/libs/crypto/ @brunoffranca