version: "3.9"

services:
  node-1:
    build: .
    image: consensus-node
    container_name: consensus-node-1
    environment:
      - NODE_ID=node_0
    ports:
      - "3051:3051"
    networks:
      node_net:
        # This allow us to know the ip of the node-1 container to fill the address in the config file
        # Only for test purposes, may be removed in the future
        ipv4_address: 172.12.0.10
  node-2:
    image: consensus-node
    container_name: consensus-node-2
    environment:
      - NODE_ID=node_1
    ports:
      - "3052:3051"
    networks:
      node_net:
        # This allow us to know the ip of the node-2 container to fill the address in the config file
        # Only for test purposes, may be removed in the future
        ipv4_address: 172.12.0.11

networks:
  node_net:
    name: node-net
    ipam:
      config:
        - subnet: "172.12.0.0/24"
          gateway: "172.12.0.1"
