targets = [
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "x86_64-apple-darwin" },
]

[advisories]
# The lint level for unmaintained crates
unmaintained = "deny"
# The lint level for crates that have been yanked from their source registry
yanked = "deny"
# The lint level for crates with security notices.
notice = "deny"
# Threshold for security vulnerabilities, any vulnerability with a CVSS score
# lower than the range specified will be ignored. Note that ignored advisories
# will still output a note when they are encountered.
# * None - CVSS Score 0.0
# * Low - CVSS Score 0.1 - 3.9
# * Medium - CVSS Score 4.0 - 6.9
# * High - CVSS Score 7.0 - 8.9
# * Critical - CVSS Score 9.0 - 10.0
severity-threshold = "medium"

[licenses]
# We want to deny every license that isn't explicitly added to the allow list.
unlicensed = "deny"
copyleft = "deny"
allow-osi-fsf-free = "neither"
default = "deny"
# We  want to set a high confidence threshold for license detection.
confidence-threshold = 1.0
# Licenses that are allowed to be used in crates.
allow = [
    # Permissive licenses
    "Apache-2.0",
    "BSD-3-Clause",
    "ISC",
    "MIT",
    "Unicode-DFS-2016",
    # Weak copyleft licenses
    "MPL-2.0",
]

[[licenses.clarify]]
name = "ring"
# SPDX considers OpenSSL to encompass both the OpenSSL and SSLeay licenses
# https://spdx.org/licenses/OpenSSL.html
# ISC - Both BoringSSL and ring use this for their new files
# MIT - "Files in third_party/ have their own licenses, as described therein. The MIT
# license, for third_party/fiat, which, unlike other third_party directories, is
# compiled into non-test libraries, is included below."
# OpenSSL - Obviously
expression = "MIT"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[bans]
# Lint level for when multiple versions of the same crate are detected
multiple-versions = "deny"
# Certain crates/versions that will be skipped when doing duplicate detection.
skip = [
    # Old versions required by tempfile and prost-build.
    { name = "bitflags", version = "1.3.2" },

    # Old version required by tracing-subscriber.
    { name = "regex-automata", version = "0.1.10" },
    { name = "regex-syntax", version = "0.6.29" },

    # Old versions required by pairing_ce & ff_ce.
    { name = "rand", version = "0.4" },
    { name = "syn", version = "1.0" },

    # Old versions required by jsonrpsee.
    { name = "base64", version = "0.13.1" },
    { name = "base64", version = "0.21.7" },
    { name = "block-buffer", version = "0.9.0" },
    { name = "digest", version = "0.10.7" },

    # Old versions required by k8s-openapi.
    { name = "base64", version = "0.21.7" }
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-org = { github = ["matter-labs"] } # TODO: remove once `vise` is published
